@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #F2F2F2;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: scroll
}

 /* .root{
  overflow-y: scroll; 
  overflow-x: scroll
}  */

.menubar {
  display: block;
  height: 60px;
  /* box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12); */
  text-align: center;
  position: relative;
} 

.title{
  display: block;
  height: 60px;
  background-color: #7f56da;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  position: fixed;
  transform: translateX(-20%);
  transform: translateX(0%);
  width: 100%;
}

.menubar span {
  display: inline-block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

#hambmenu {
  width: 40px;
  height: 45px;
  float: left;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: fixed;
}

#hambmenu span {
  position: absolute;
  height: 5px;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0 15px;
  background: white;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  padding: 0px;
}

.hambclicker {
  content: '';
  height: 48px;
  width: 55px;
  position: fixed;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}

#hambmenu span:nth-child(1) {
  top: 0px;
}

#hambmenu span:nth-child(2),
#hambmenu span:nth-child(3) {
  top: 10px;
}

#hambmenu span:nth-child(4) {
  top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
  transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
  transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#menu {
  position: absolute;
  height: calc(100vh - 60px);
  width: 210px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
}

#menu li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2em;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.14); */
  border-radius: 15px; /* Add border-radius to the menu items */
}
#menu li:hover {
  background-color: #a17de8;
  color: #00ff00;
}
#menu li:last-child {
  border-bottom: none;
}
.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


#menu li:last-child {
  border-bottom: none;
}

.fa {
  color: black;
  padding-right: 8px;
}

li a {
  text-decoration: none;
  color: black;
}

#menu.isopen {
  transform: none;
  overflow: auto;
  position: fixed;
}

@media screen and (max-width: 420px) {
  .menubar span {
    font-size: 1.2em;
  }
}
