* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
}

/* FORM */
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #ffffff; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=890&q=80"); */
  /* background-color: var(--color-bg);
  background-size: cover;
  background-blend-mode: darken; */
  font-family: "Josefin Sans", sans-serif;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.registerForm>label {
  margin: 10px 0;
  color: rgb(0, 0, 0);
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerButton:hover {
  background-color: #313131;
}

@media screen and (max-width: 480px) {
  .register {
    background-position: right;
  }

  .registerInput {
    font-size: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  .registerButton {
    font-size: 16px;
    padding: 20px;
    border-radius: 12px;
  }
}

.App {
     text-align: center;
       padding: 5%;

}

.resume-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.resume-item {
  background-color: rgb(235, 247, 249);
  border: 1px solid #0c0b0b;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  text-align: left;
  justify-content: space-evenly;
  width: 100%;
}

.resume-item:hover{
  color: #f9f9f9;
  background-color: #7f56da ;
}


.resume-item div {
  margin: 5px 0;
}

.list{
  text-align: center;
  padding-top: 50px;
}

.list div{
  margin: 5px 0;
  text-align: center;
}

.list-Container{
  text-align: center;
  border-bottom: 100%;
  display: flex;
  margin: 60px auto;
  flex-direction: column;
  align-items: center;
}

.list-item {
  background-color: rgb(235, 247, 249);
  border: 1px solid #0c0b0b;
  border-radius: 25px;
  padding: 15px;
  margin:  auto;
  width: 300px;
  text-align: center;
  justify-content: space-evenly;
}

.list-item:hover{
  background-color: #7f56da;
  color: #f9f9f9;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
.main-content{
  padding-top: 10%;
}
.UploadStyle {
  padding-top: 30%;
  color: #000;
  /* background-color: rgb(235, 247, 249); */
  background-color: hsl(263, 17%, 91%);
  background-image: url(../src/assets/8354448_3868804.jpg);
  /* background-blend-mode: ; */
  border: 1px solid #0c0b0b;
  border-radius: 25px;
  padding: 15px;
  /* width: 300px; */
  text-align: center;
  justify-content: space-evenly;
  /* border-bottom: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 210px;
  margin-right: 150px;
  height: 1000%;
}

.UploadButton:hover{   
      transform: scale(1);
      background-color: #21e065;
      color: #f9f9f9;
}

.Uploadtxt{
  border: 3px solid #000;
  border-radius: 5px;
  /* height: 50px; */
  line-height: 4;
  color: #282828;
  display: block;
  width: 50%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  :focus{
      border: 3px solid #5551ff;}
}

.UploadButton{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #7f56da;
  height: 48px;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

.filebtn{
  
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  width: 50%;
  /* height: 20%; */
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 12px;
  border: 0;
  color: #000021;
  /* background: #ff9999; */
  background: linear-gradient(120deg, hsl(260 70% 70%), #ff9999);
  line-height: 3;
  font-size: 16px;
  :hover {
      transition: all .1s ease;
      box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
}

.upload_msg{
  background: linear-gradient(120deg, hsl(260 70% 70%), #ff9999);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 60px;
}

.large-heading {
  font-size: 64px;
  background: linear-gradient(120deg, hsl(260 70% 70%), hsl(0 100% 80%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading{
  background: linear-gradient(120deg, #a17de8, hsl(0 100% 80%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showUpload{
  padding-top: 10%;
  color: #000;
  /* background-color: rgb(235, 247, 249); */
  background-color: hsl(263, 17%, 91%);
  background-image: url(../src/assets/8354448_3868804.jpg);
  /* background-blend-mode: ; */
  border: 1px solid #0c0b0b;
  border-radius: 25px;
  padding: 15px;
  /* width: 300px; */
  text-align: left;
  justify-content: space-evenly;
  /* border-bottom: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 50px auto;
  margin-left: 210px;
  margin-right: 150px;
  height: 1000%;
}